# Activer la fonctionnalité Apache de réécriture d'URL.
RewriteEngine On


 #On peut définir dans le htaccess des variables disponibles
 #DANS la superglobale $_SERVER
 #Ici on crée une variable BASE_URI qui contient la racine du site web
 
 
 RewriteCond %{REQUEST_URI}::$1 ^(/.+)/(.*)::\2$
 RewriteRule ^(.*) - [E=BASE_URI:%1]
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteCond %{REQUEST_FILENAME} !-f

 # RewriteRule . index.php [L]



# Réécrire L'URL pour renseigner le script PHP, en remplaçant la fin par index.php?page=/partie-d-url-tapé-par-l-internaute




 RewriteRule ^(.*)$ index.php?page=/ [QSA,L]


# exemple :
# locolhost/mon/site/products => localhost/mon/site/index.php?page=products