.matos {
    display: flex;
    width: 300px;
    min-height: 500px;
    background-image:url(../img/products/buvette.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center; 
    
}